// Variables

// Color Vars
@hacker: #0DBD10;
@spring: mediumspringgreen;
@pale: palegreen;
@darker: #009631;
@seafoam: #C8EBBE;
@ltgrey: #AAAAAA;
@bggrey: #F7F7F7;
@bordergrey: #EEE;
@fontgrey: #949494;

// Responsiveness Vars
@mobile: ~"(max-width: 500px)";
@tablet: ~"(max-width: 800px)";